.reviews__list {
  list-style: none;
  padding: 0 20px;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  letter-spacing: 1px;

  @media (min-width: 425px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $tablet-width) {
    padding: 0 70px;
    font-size: 24px;
    line-height: 26px;
  }

  @media (min-width: $desktop-width) {
    font-size: 32px;
    line-height: 36px;
  }
}
