.about {
  margin-top: 20px;
  padding: 0 20px;
  min-height: 100vh;
  background: url("/img/mobile/about_mobile.jpg") no-repeat 95% 0,
    url("/img/mobile/about_1_mobile.jpg") no-repeat 10% 100%;
}
@media (min-width: 768px) {
  .about {
    padding: 0;
    min-height: 100vh;
    background: url("/img/about_img.jpg") no-repeat 100% 20%, url("/img/about_img1.jpg") no-repeat 0 100%;
    background-size: 180px auto, 330px auto;
  }
}
@media (min-width: 1200px) {
  .about {
    padding-left: 0;
    background: url("/img/about_img.jpg") no-repeat 100% 5%, url("/img/about_img1.jpg") no-repeat 0 20%;
    background-size: 300px auto, 500px auto;
  }
}
