.page {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
  font-family: "Neucha", "Arial", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  background-color: #545454;
  color: #ffffff;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

