.photogallery__title {
  margin: 0;
  font-size: 25px;
  line-height: 32px;
  position: absolute;
  top: auto;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 10;
}
@media (min-width: 768px) {
  .photogallery__title {
    opacity: 0;
    font-size: 38px;
    line-height: 50px;
  }
}
