.intro__name {
  margin: 0;
  display: block;
  font-family: "Comforter", "Arial", sans-serif;
  max-width: 270px;
  font-size: 50px;
  line-height: 50px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 64px;
    max-width: 340px;
  }

  @media (min-width: 1024px) {
    font-size: 100px;
    line-height: 150px;
  }
}
