.send-review__form {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  max-width: 570px;
  font-size: 14px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .send-review__form {
    flex-direction: row;
    max-width: none;
  }
}
@media (min-width: 1200px) {
  .send-review__form {
    font-size: 20px;
    line-height: 28px;
  }
}
