.portfolio__image {
  display: block;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.portfolio__image:nth-child(10) {
  display: none;
}
@media (min-width: 639px) {
  .portfolio__image {
    height: 100%;
  }
}
@media (min-width: 1321px) {
  .portfolio__image:nth-child(10) {
    display: block;
  }
}
