.price {
  margin: 0 auto;
  margin-top: 20px;
  padding: 0;
}

.price__cards {
  width: 90%;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  @media (min-width: $tablet-width) {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.price__main-list,
.price__add-list {
  list-style: none;
  margin: 0;
  padding: 0;
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.price__note,
.price__note-text {
  margin: 5px 20px;
  font-weight: bold;
  font-size: 10px;
  line-height: 14px;
  @media (min-width: $tablet-width) {
    margin: 10px 70px;
    font-size: 16px;
    line-height: 24px;
  }
  @media (min-width: $desktop-width) {
    margin: 10px 120px;
    font-size: 24px;
    line-height: 32px;
  }
}
.price__note {
  color: $basic_red;
  margin-top: 20px;
}
.price__note-list {
  margin: 0 20px;
  padding: 0;
  padding-left: 10px;
  list-style-type: circle;
  font-size: 10px;
  font-weight: bold;
  line-height: 14px;
  @media (min-width: $tablet-width) {
    margin: 10px 70px;
    font-size: 16px;
    line-height: 24px;
  }
  @media (min-width: $desktop-width) {
    margin: 10px 120px;
    font-size: 24px;
    line-height: 32px;
  }
}
