.about {
    margin-top: 20px;
    padding: 0 20px;
    min-height: 688px;
    background: url("/img/mobile/about_mobile.jpg") no-repeat 95% 0,
      url("/img/mobile/about_1_mobile.jpg") no-repeat 10% 100%;
  @media (min-width: $tablet-width) {
    padding: 0 70px;
    min-height: 700px;
    background: url("/img/about_img.jpg") no-repeat 100% 20%, url("/img/about_img1.jpg") no-repeat 0 100%;
    background-size: 180px auto, 330px auto;
  }
  @media (min-width: $desktop-width) {
    padding: 0 110px;
    background: url("/img/about_img.jpg") no-repeat 100% 35%, url("/img/about_img1.jpg") no-repeat 0 50%;
    background-size: 300px auto, 650px auto;
  }
}
.about__header {
  font-family: "celestina", "Arial", sans-serif;
  margin-top: 0;
  margin-left: 20px;
  padding-top: 60px;
  font-size: 45px;
  line-height: 65px;
  position: relative;
  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: $basic_black;
    top: 110px;
    left: auto;
    right: -20px;
  }
  @media (min-width: $tablet-width) {
    margin-top: 0;
    margin-left: 40vw;
    font-size: 60px;
    line-height: 100px;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      width: 110%;
      height: 1px;
      background-color: $basic_black;
      top: auto;
      bottom: 20px;
      left: auto;
      right: -70px;
    }
  }
  @media (min-width: $desktop-width) {
    &::after {
      right: -110px;
    }
  }
}
.about__text {
  margin-top: 67px;
  padding-bottom: 350px;
  font-size: 14px;
  &--end {
    margin-top: 0;
  }
  @media (min-width: $tablet-width) {
    margin-top: 120px;
    margin-left: 37vw;
    padding-bottom: 0;
    width: 350px;
    font-size: 18px;
    line-height: 30px;
  }
  @media (min-width: $desktop-width) {
    margin-top: 80px;
    margin-left: 40vw;
    margin-bottom: 40px;
    font-size: 20px;
  }
}
