.about {
    margin-top: 20px;
    padding: 0 20px;
    min-height: 100vh;
    background: url("/img/mobile/about_mobile.jpg") no-repeat 95% 0,
      url("/img/mobile/about_1_mobile.jpg") no-repeat 10% 100%;
  @media (min-width: $tablet-width) {
    padding: 0;
    min-height: 100vh;
    background: url("/img/about_img.jpg") no-repeat 100% 20%, url("/img/about_img1.jpg") no-repeat 0 100%;
    background-size: 180px auto, 330px auto;
  }
  @media (min-width: $desktop-width) {
    padding-left: 0;
    background: url("/img/about_img.jpg") no-repeat 100% 5%, url("/img/about_img1.jpg") no-repeat 0 20%;
    background-size: 300px auto, 500px auto;
  }
}
.about__text {
  margin-top: 67px;
  padding-bottom: 350px;
  font-size: 14px;
  &--end {
    margin-top: 0;
  }
  @media (min-width: $tablet-width) {
    margin-top: 120px;
    margin-left: 50vw;
    padding-bottom: 0;
    width: 350px;
    font-size: 16px;
    line-height: 30px;
  }
  @media (min-width: $desktop-width) {
    width: 450px;
    margin-top: 60px;
    margin-left: 45vw;
    margin-bottom: 40px;
    font-size: 20px;
  }
}
