.blog {
  margin: 0 auto;
  margin-top: 20px;
  padding: 0;
}
.blog__header {
  font-family: "celestina", "Arial", sans-serif;
  margin-top: 10px;
  margin-left: 40px;
  margin-bottom: 15px;
  font-size: 45px;
  line-height: 65px;
  position: relative;
  display: flex;
  flex-direction: column;
  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: $basic_black;
    top: 50px;
    left: auto;
    right: 0;
  }
  @media (min-width: $tablet-width) {
    margin-left: 70px;
    font-size: 60px;
    line-height: 100px;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      width: 70%;
      height: 1px;
      background-color: $basic_black;
      top: auto;
      bottom: 20px;
      left: auto;
      right: -70px;
    }
  }
}
.blog__list {
  list-style: none;
  padding: 0;
  margin: 0 20px;
  color: $basic_black;
  @media (min-width: $tablet-width) {
    margin: 0 70px;
  }
}
.blog__item {
  margin: 0 auto;
  position: relative;
  font-size: 12px;
  margin-bottom: 35px;
  padding: 10px;
  height: 120%;
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    height: 100%;
  }
}
.blog__image-container {
  position: relative;
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: linear-gradient(to bottom, $more_transparent_grey-blue 50%, $basic_white 100%);
  }
  @media (min-width: $tablet-width) {

    &::after {
      display: none;
    }
  }
}
.blog__item-image {
  margin: 0 auto;
  display: block;
  width: 100%;
  height: auto;
  @media (min-width: $tablet-width) {
    margin-right: 30px;
    width: 250px;
  }
}
.blog__item-header,
.blog__item-text {
  position: absolute;
  @media (min-width: $tablet-width) {
    position: static;
  }
}
.blog__item-header {
  margin: 5px 0;
  top: 60%;
  left: 10%;
  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 26px;
  }
}
.blog__item-text {
  font-size: 10px;
  line-height: 14px;
  margin: 5px 0;
  top: 70%;
  left: 10%;
  width: 80%;
  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 20px;
    width: 100%;
  }
}
.blog__more {
  margin-top: 15px;
  margin-right: 74px;
  display: block;
  font-size: 14px;
  text-align: right;
  text-decoration: none;
  color: $basic_black;
  position: relative;
  &:hover {
    font-weight: bold;
    text-transform: uppercase;
  }
  &:active {
    opacity: 0.3;
  }
  &::after {
    position: absolute;
    content: "";
    background: url("/img/Arrow.svg") no-repeat;
    height: 10px;
    width: 26px;
    top: 50%;
    left: auto;
    right: -48px;
    transform: translate(0, -50%);
  }
  @media (min-width: $tablet-width) {
    margin-right: 100px;
    font-size: 16px;
  }
}
