.blog {
  margin: 0 auto;
  margin-top: 20px;
  padding: 0;
  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
  }
}
.blog__list {
  list-style: none;
  padding: 0;
  margin: 0 20px;
  color: $basic_black;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  @media (min-width: $tablet-width) {
    margin: 0 70px;

  }
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.blog__item {
  margin: 10px 20px;
  width: 90%;
  max-width: 300px;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 1px 2px 20px $transparent_grey-blue;
  overflow: hidden;
  background-color: $basic_white;
  @media (min-width: $tablet-width) {
    margin: 20px 15px;
    width: 45%;
  }
  @media (min-width: $desktop-width) {
    width: 30%;
  }
}
.blog__image-container {
  margin: 0 auto;
  width: 100%;
  max-width: 450px;
  @media (min-width: $tablet-width) {
    max-width: 800px;
  }
}
.blog__item-image {
  margin: 0 auto;
  display: block;
  width: 100%;
  height: auto;
  @media (min-width: $tablet-width) {
    object-fit: cover;
    margin-right: 30px;
  }
  @media (min-width: $desktop-width) {
  }
}
.blog__item-header,
.blog__item-text {
  @media (min-width: $tablet-width) {
    position: static;
  }
}
.blog__text-wrapper {
  padding: 0 20px;
}
.blog__item-header {
  margin: 15px;
  text-align: center;
  font-size: 20px;
  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 32px;
  }
}
.blog__item-text {
  margin: 5px;
  font-size: 12px;
  line-height: 14px;
  top: 70%;
  left: 10%;
  width: 80%;
  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 20px;
    width: 100%;
  }
  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 20px;
  }
}
.blog__link {
  margin: 20px auto;
  text-decoration: none;
  font-size: 16px;
  color: $graphite;
  cursor: pointer;
  &:hover {
    transition: color 0.5s linear;
    color: $grey-blue;
  }
  @media (min-width: $tablet-width) {
    font-size: 18px;
  }
}
