@keyframes appear{
  from {
    opacity: 0;
  }
  to {
    opacity:1;
  }
}

@keyframes underline {
  from {

  }
  to {

  }
}

.intro {
  margin: 0 auto;
  padding: 0 20px;
  height: 765px;
  background: url("/img/main.jpg") no-repeat 50% 0;
  background-size: cover;
  position: relative;
  color: $basic_white;
  @media (min-width: $tablet-width) {
    padding: 0 70px;
    padding-top: 108px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 639px;
    background: url("/img/main.jpg") no-repeat 100% 0;
    background-size: auto 750px;
    color: $basic_black;
  }
  @media (min-width: $desktop-width) {
    padding: 0 110px;
    height: 747px;
    background: url("/img/main.jpg") no-repeat 100% 50%;
    background-size: auto 747px;
  }
}
.intro__name {
  margin: 0;
  display: block;
  font-family: "celestina", "Arial", sans-serif;
  max-width: 280px;
  font-size: 2rem;
  line-height: 90px;
  position: absolute;
  top: 50%;
  left: 12%;
  transform: translate(0, -50%);

  @media (min-width: $tablet-width) {
    position: static;
    font-size: 100px;
    line-height: 150px;
    max-width: none;
    transform: none;

    &::after {
      content: "";
      width: 65%;
      height: 1px;
      background-color: $basic_black;
      position: absolute;
      left: 70px;
      right: auto;
      top: 70%;
      bottom: 0;
    }
  }
  @media (min-width: $desktop-width) {
    &::after {
      left: 110px;
      top: 60%;
      animation: underline 3s linear;
    }
  }
}
.intro__profession {
  position: absolute;
  top: 218px;
  left: 12%;
  @media (min-width: $tablet-width) {
    position: static;
    margin-top: 50px;
    font-size: 26px;
  }
}
