.intro {
  @media (max-width: $mobile-width-only) {
    margin: 0 auto;
    padding: 0 20px;
    height: 765px;
    background: url("/img/mobile/intro.jpg") no-repeat 50% 0;
    position: relative;
    color: $basic_white;
  }
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 70px;
    padding-top: 108px;
    height: 639px;
    background: url("/img/mobile/intro.jpg") no-repeat 100% 0;
  }
}
.intro__name {
  margin: 0;
  display: block;
  font-family: "celestina", "Arial", sans-serif;
  @media (max-width: $mobile-width-only) {
    max-width: 280px;
    font-size: 45px;
    line-height: 90px;
    position: absolute;
    top: 50%;
    left: 12%;
    transform: translate(0, -50%);
  }
  @media (min-width: $tablet-width) {
    font-size: 100px;
    line-height: 150px;
    position: relative;
    &::after {
      content: "";
      width: 90%;
      height: 1px;
      background-color: $basic_black;
      position: absolute;
      left: 0;
      right: auto;
      top: auto;
      bottom: 0;
    }
  }
}
.intro__profession {
  @media (max-width: $mobile-width-only) {
    position: absolute;
    top: 218px;
    left: 12%;
  }
  @media (min-width: $tablet-width) {
    margin-top: 50px;
  }
}
