.portfolio {
  margin: 0 auto;
  margin-top: 20px;
  padding: 0;
}
.portfolio__header {
  font-family: "celestina", "Arial", sans-serif;
  margin-top: 10px;
  margin-left: 40px;
  margin-bottom: 15px;
  font-size: 45px;
  line-height: 65px;
  position: relative;
  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: $basic_black;
    top: 50px;
    left: auto;
    right: 0;
  }
  @media (min-width: $tablet-width) {
    margin-left: 70px;
    font-size: 60px;
    line-height: 100px;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      width: 70%;
      height: 1px;
      background-color: $basic_black;
      top: auto;
      bottom: 20px;
      left: auto;
      right: -70px;
    }
  }
  @media (min-width: $desktop-width) {
    margin-left: 250px;
    font-size: 80px;
    line-height: 160px;
    &::after {
      width: 100%;
      right: -110px;
      bottom: 45px;
    }
  }
}
.portfolio__image-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-auto-flow: dense;
  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
  }
}

.portfolio__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  &:nth-child(10) {
    display: none;
  }
  @media (min-width: 639px) {
    &--horizontal {
      grid-column: span 2;
    }
  }
  @media (min-width: 1170px) {
    &:nth-child(10) {
      display: block;
    }
  }
}
.porfolio__more {
  margin-top: 15px;
  margin-right: 74px;
  font-size: 14px;
  display: block;
  text-align: right;
  text-decoration: none;
  color: $basic_black;
  position: relative;
  &:hover {
    font-weight: bold;
    text-transform: uppercase;
  }
  &:active {
    opacity: 0.3;
  }
  &::after {
    position: absolute;
    content: "";
    background: url("/img/Arrow.svg") no-repeat;
    height: 10px;
    width: 26px;
    top: 50%;
    left: auto;
    right: -48px;
    transform: translate(0, -50%);
  }
  @media (min-width: $tablet-width) {
    font-size: 16px;
    margin-right: 100px;
  }
  @media (min-width: $desktop-width) {
    margin-top: 30px;
    margin-right: 170px;
    font-size: 20px;
  }
}
