.portfolio {
  margin: 0 auto;
  margin-top: 20px;
  padding: 0;
}
.portfolio__header {
  font-family: "celestina", "Arial", sans-serif;
  margin-top: 10px;
  margin-left: 40px;
  margin-bottom: 15px;
  font-size: 45px;
  line-height: 65px;
  position: relative;
  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: $basic_black;
    top: 50px;
    left: auto;
    right: 0;
  }
  @media (min-width: $tablet-width) {
    margin-left: 70px;
    font-size: 60px;
    line-height: 100px;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      width: 70%;
      height: 1px;
      background-color: $basic_black;
      top: auto;
      bottom: 20px;
      left: auto;
      right: -70px;
    }
  }
}
.portfolio__image-wrapper {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  @media (min-width: $tablet-width) {
    margin: 0 auto;
    padding: 0;
    flex-direction: row;
    justify-content: space-around;
  }
  @media (min-width: $desktop-width) {
  }
}
.portfolio__image-container {
  margin: 0;
  padding: 0;
  min-width: 100%;
}
.portfolio__image {
  margin: 0 auto;
  margin-top: 5px;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  @media (min-width: $tablet-width) {
    max-width: none;
    min-width: 390px;
    height: 520px;
  }
  @media (min-width: $desktop-width) {
    min-width: 390px;
    height: 564px;
  }
}
.porfolio__more {
  margin-top: 15px;
  margin-right: 74px;
  font-size: 14px;
  display: block;
  text-align: right;
  text-decoration: none;
  color: $basic_black;
  position: relative;
  &:hover {
    font-weight: bold;
    text-transform: uppercase;
  }
  &:active {
    opacity: 0.3;
  }
  &::after {
    position: absolute;
    content: "";
    background: url("/img/Arrow.svg") no-repeat;
    height: 10px;
    width: 26px;
    top: 50%;
    left: auto;
    right: -48px;
    transform: translate(0, -50%);
  }
  @media (min-width: $tablet-width) {
    font-size: 16px;
    margin-right: 100px;
  }
}
