.price {
  margin: 0 auto;
  margin-top: 20px;
  padding: 0;
}
.price__header {
  font-family: "celestina", "Arial", sans-serif;
  margin-top: 10px;
  margin-left: 40px;
  margin-bottom: 15px;
  font-size: 45px;
  line-height: 65px;
  position: relative;
  display: flex;
  flex-direction: column;
  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: $basic_black;
    top: 50px;
    left: auto;
    right: 0;
  }
  @media (min-width: $tablet-width) {
    margin-left: 70px;
    font-size: 60px;
    line-height: 100px;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 70%;
      height: 1px;
      background-color: $basic_black;
      top: auto;
      bottom: 20px;
      left: auto;
      right: -70px;
    }
  }
}
.price__table {
  width: 100%;
  border-collapse: collapse;
  @media (min-width: $tablet-width) {
  }
}
.price__table-row {
  border-top: 1px solid $basic_black;
  border-bottom: 1px solid $basic_black;
  @media (min-width: $tablet-width) {
    border-top: 2px solid $basic_black;
    border-bottom: 2px solid $basic_black;
  }
}
.price__name-cell,
.price__price-cell {
  font-size: 10px;
  line-height: 12px;
  font-weight: bold;
  text-align: center;
  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 36px;
    padding: 20px 0;
  }
}
.price__description-cell {
  padding: 10px 0;
  font-size: 9px;
  line-height: 10px;
  width: 40%;
  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 18px;
    padding: 20px 0;
  }
}
