.price-card {
  margin: 20px auto;
  width: 90%;
  min-height: 70vh;
  display: flex;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 1px 2px 20px $transparent_grey-blue;
  overflow: hidden;
  @media (min-width: $tablet-width) {
    margin: 20px 0;
    width: 45%;
  }
  @media (min-width: $desktop-width) {
    width: 30%;
  }
}
.price-card__container {
  width: 100%;
  min-height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: auto;
    bottom: auto;
    background: $transparent_white;
  }
  &--standart {
    background: url("/img/standart-cover-resize.jpg") no-repeat 50% 50%;
    background-size: cover;
  }
  &--comfort {
    background: url("/img/comfort-cover-resize.jpg") no-repeat 50% 50%;
    background-size: cover;
  }
  &--premium {
    background: url("/img/premium-cover-resize.jpg") no-repeat 50% 50%;
    background-size: cover;
  }
  &--photoday {
    background: url("/img/photoday-cover-resize.jpg") no-repeat 50% 50%;
    background-size: cover;
  }
  &--content {
    background: url("/img/content-cover-resize.jpg") no-repeat 50% 50%;
    background-size: cover;
  }
}
.price-card__title,
.price-card__price {
  margin: 25px auto 5px;
  width: 90%;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  z-index: 5;
  @media (min-width: $desktop-width) {

  }
}
.price-card__price {
  margin: 5px auto 25px;
}
.price-card__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 5;
  @media (min-width: $tablet-width) {
    padding-left: 30px;
    margin: 22px 0;
  }
}
.price-card__item {
  margin: 0;
  padding: 5px 0;
  font-size: 12px;
  line-height: 12px;
  width: 90%;
  position: relative;
  &::before {
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    background: url('../../../img/photocamera.svg') no-repeat 50% 50%;
    background-size: contain;
    @media (min-width: $tablet-width) {
      width: 20px;
      height: 20px;
      top: 8px;
    }
  }
  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 18px;
  }
  @media (min-width: $desktop-width) {
    font-size: 22px;
    line-height: 32px;
  }
}
.price-card__text {
  margin: 5px 0;
  width: 80%;
  margin: 0 auto;
  font-size: 12px;
  line-height: 18px;
  font-weight: bold;
  z-index: 5;
  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 18px;
  }
  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
  }
}
.price-card__link--instagram {
  color: $basic_black;
  text-decoration: none;
  font-family: "celestina", "Arial", sans-serif;
  font-size: 12px;
  @media (min-width: $tablet-width) {
    font-size: 22px;
  }
  @media (min-width: $desktop-width) {
    font-size: 32px;
  }
}
