.reviews {
  margin: 0 auto;
  margin-top: 20px;
  padding: 0;
}
.reviews__header {
  font-family: "celestina", "Arial", sans-serif;
  margin-top: 10px;
  margin-left: 40px;
  margin-bottom: 15px;
  font-size: 45px;
  line-height: 65px;
  position: relative;
  display: flex;
  flex-direction: column;
  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: $basic_black;
    top: 50px;
    left: auto;
    right: 0;
  }
  @media (min-width: $tablet-width) {
    margin-left: 70px;
    font-size: 60px;
    line-height: 100px;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 70%;
      height: 1px;
      background-color: $basic_black;
      top: auto;
      bottom: 20px;
      left: auto;
      right: -70px;
    }
  }
}
.reviews__list {
  list-style: none;
  padding: 0 20px;
  font-size: 12px;
  line-height: 16px;
  @media (min-width: $tablet-width) {
    font-size: 16px;
    padding: 0 70px;
  }
}
.reviews__item {
  @media (min-width: $tablet-width) {
    margin-top: 35px;
  }
}
.reviews__user-city,
.reviews__user-name {
  font-weight: bold;
  margin-bottom: 5px;
}
.reviews__user-review {
  position: relative;
  font-size: 10px;
  margin-left: 45px;
  margin-top: 5px;
  min-height: 40px;
  &::before {
    content: "\201C";
    font-family: serif;
    position: absolute;
    top: 5px;
    left: -50px;
    color: $basic_white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: $grey-blue;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 42px;
  }
  &::after {
    content: "";
    width: 2px;
    background: $grey-blue;
    position: absolute;
    left: -10px;
    top: 5px;
    bottom: 5px;
  }
  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 22px;
    margin-left: 60px;
    &::before {
      width: 40px;
      height: 40px;
      top: 2px;
      left: -60px;
      font-size: 40px;
      line-height: 50px;
    }
    &::after {
      top: 5px;
      bottom: 0;
    }
  }
}
.reviews__more {
  margin-top: 15px;
  font-size: 14px;
  display: block;
  text-align: right;
  text-decoration: none;
  color: $basic_black;
  position: relative;
  @media (max-width: $mobile-width-only) {
    margin-right: 74px;
  }
  &:hover {
    font-weight: bold;
    text-transform: uppercase;
  }
  &:active {
    opacity: 0.3;
  }
  &::after {
    position: absolute;
    content: "";
    background: url("/img/Arrow.svg") no-repeat;
    height: 10px;
    width: 26px;
    top: 50%;
    left: auto;
    right: -48px;
    transform: translate(0, -50%);
  }
  @media (min-width: $tablet-width) {
    font-size: 16px;
    margin-right: 100px;
  }
}

.reviews__send-review {
  margin: 0 auto;
  padding: 5px 0;
  display: block;
  text-decoration: none;
  max-width: 220px;
  font-size: 14px;
  text-align: center;
  border: 2px solid $sylver;
  color: $basic_black;
  box-sizing: border-box;
  &:hover {
    border: 2px solid $grey-blue;
    font-weight: bold;
  }
  &:active {
    border-color: $sylver;
    color: $grey-blue;
  }
}
