.main-nav {
  @media (max-width: $mobile-width-only) {
    position: fixed;
    min-width: 100%;
    bottom: 0;
    top: auto;
    z-index: 2;
    // box-sizing: border-box;
    // box-shadow: 1px 4px 2px 4px $basic_black;
  }
}
// .main-nav__container {
//   display: flex;
//   flex-direction: row;
// }
.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  bottom: 0;
  top: auto;
  @media (max-width: $mobile-width-only) {
    background-color: $light-grey-blue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 10px;
    min-width: 100%;
  }
}
.main-nav__link {
  text-decoration: none;
  @media (max-width: $mobile-width-only) {
    padding: 5px;
    display: block;
    color: $basic_white;
    text-align: center;
    &:hover,
    &--active {
      opacity: 1;
      font-weight: bold;
    }
  }
}
.main-nav__icon {
  @media (max-width: $mobile-width-only) {
    width: 24px;
    height: 24px;
    fill: $basic_white;
  }
}
