.page-footer {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  margin-top: 20px;
  position: relative;
  &::before {
    position: absolute;
    content: "";
    width: 90%;
    height: 1px;
    background-color: $basic_black;
    top: 0;
    bottom: auto;
    right: 0;
    left: auto;
  }
  @media (min-width: $tablet-width) {
    padding: 0 70px;
    flex-direction: row;
    justify-content: space-between;
    &::before {
      width: 70%;
      left: 70px;
      right: auto;
    }
  }
  &--photogallery {
    color: $basic_white;
    &::before {
      background-color: $basic_white;
    }
  }
  @media (min-width: $desktop-width) {
    padding: 30px 110px;
    font-size: 26px;
    line-height: 40px;
  }
}
