.social__list {
  padding: 0;
  margin-bottom: 30px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.social__link {
  display: block;
  color: $sylver;
  &:hover .social__icon {
    color: $grey-blue;
  }
  &:active .social__icon {
    opacity: 0.3;
  }
}
.social__icon {
  @media (max-width: $mobile-width-only) {
    width: 36px;
    height: 36px;
  }

}
