.telephone {
  @media (max-width: $mobile-width-only) {
    font-size: 14px;
    line-height: 18px;
    color: $basic_black;
  }
}
.telephone__link {
  font-family: "celestina", "Arial", sans-serif;
  text-decoration: none;
  color: $basic_black;
  &:active {
    color: $grey-blue;
  }
  @media (max-width: $mobile-width-only) {
    font-size: 18px;
  }
}
