.telephone {
  color: $basic_black;
  // &--photogallery {
  //   color: $basic_white;
  // }
  @media (max-width: $mobile-width-only) {
    font-size: 14px;
    line-height: 18px;
  }
}
.telephone__link {
  font-family: "Swanky", "Arial", sans-serif;
  text-decoration: none;
  color: $basic_black;
  // &--photogallery {
  //   color: $basic_white;
  // }
  &:active {
    color: $grey-blue;
  }
  @media (max-width: $mobile-width-only) {
    font-size: 20px;
  }
}
