.reviews-index__send-review {
  margin: 0 auto;
  padding: 5px 0;
  display: block;
  text-decoration: none;
  max-width: 220px;
  font-size: 24px;
  text-align: center;
  border: 2px solid $white;
  color: $white;
  box-sizing: border-box;

  @media (min-width: 1024px) {
    .reviews-index__send-review {
      padding: 15px 0;
      max-width: 360px;
      font-size: 48px;
    }
  }

  &:hover {
    font-weight: bold;
    border-radius: 10px;
    transition: border-radius 0.3s ease;
  }

  &:active {
    border-color: $border-grey;
    color: $hover-grey;
  }
}
