.price-card__container {
  width: 100%;
  min-height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: auto;
    bottom: auto;
    background: rgba(84, 84, 84, 0.5);
  }

  &--standart {
    background: url("../img/index/standart-cover-resize.jpg") no-repeat 50% 50%;
    background-size: cover;
  }

  &--comfort {
    background: url("../img/index/comfort-cover-resize.jpg") no-repeat 50% 50%;
    background-size: cover;
  }

  &--content {
    background: url("../img/index/content-cover-resize.jpg") no-repeat 50% 50%;
    background-size: cover;
  }

  &--photoday {
    background: url("../img/index/photoday-cover-resize.jpg") no-repeat 50% 50%;
    background-size: cover;
  }

  &--premium {
    background: url("../img/index/premium-cover-resize.jpg") no-repeat 50% 50%;
    background-size: cover;
  }
}
