.section-title {
  font-family: "Swanky", "Arial", sans-serif;
  margin-top: 0;
  margin-left: 20px;
  padding-top: 40px;
  margin-bottom: 20px;
  font-size: 45px;
  line-height: 65px;
  position: relative;
}
.section-title::after {
  position: absolute;
  content: "";
  width: 95%;
  height: 1px;
  background-color: #fff;
  top: 110px;
  left: auto;
  right: 0;
}
@media (min-width: 768px) {
  .section-title {
    margin-top: 0;
    margin-left: 50vw;
    margin-bottom: 25px;
    font-size: 60px;
    line-height: 100px;
    position: relative;
  }
  .section-title::after {
    width: 100%;
    top: auto;
    bottom: 20px;
    left: auto;
    right: 0;
  }
}
@media (min-width: 1024px) {
  .section-title {
    font-size: 85px;
  }
  .section-title::after {
    animation: underline 2s ease forwards;
  }
}
