.social__list {
  padding: 0;
  margin: auto;
  list-style: none;
  display: flex;
  gap: 10px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  @media (min-width: $tablet-width) {
    max-width: 200px;
    height: 100%;
  }
}
