.social__link {
  display: block;
  color: $white;
  text-align: center;
  align-items: center;
  fill: $white;

  &:hover > .social__icon {
    color: $hover-grey;
    transition: color 0.3s ease-in;
  }

  &:active > .social__icon {
    opacity: 0.3;
  }
}
