// color-variables
$white: #ffffff;
$black: #000000;
$dark-green: #26323a;
$shadow-dark-gray: rgba(151, 161, 181, 0.7);
$hover-grey: #97a1b5;
$red: #ff0000;
$border-grey: #c0c0c0;
$grey-blue: #bbc4d4;
$orange: #ffa500;
$light-grey: #f2f2f2;

// viewport variables
$tablet-width: 768px;
$width-1024px: 1024px;
$desktop-width: 1200px;
