//Colors

$sylver: #c0c0c0;
$basic_black: #000000;
$basic_white: #ffffff;
$grey-blue: #97a1b5;
$transparent_grey-blue: rgba(151, 161, 181, 0.7);
$more_transparent_grey-blue: rgba(151, 161, 181, 0.4);

//Viewports
$mobile-width-only: 767px;
$desktop-width: 1200px;
