.intro__name {
  margin: 0;
  display: block;
  font-family: "Swanky", "Arial", sans-serif;
  max-width: 280px;
  font-size: 50px;
  line-height: 50px;
  position: absolute;
  top: 50%;
  left: 12%;
  transform: translate(0, -50%);
}
@media (min-width: 768px) {
  .intro__name {
    position: static;
    font-size: 100px;
    line-height: 150px;
    max-width: none;
    transform: none;
    /* color: #2e3033; */
    text-shadow: 3px 3px 5px rgba(255, 255, 255, 0.4);
  }
}
