.intro {
  margin: 0 auto;
  padding: 0 20px;
  height: 92vh;
  background: url("../../../img/main.jpg") no-repeat 50% 0;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  color: #fff;
}

@media (min-width: 768px) {
  .intro {
    padding: 0 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-position: 100% 0;
    background-size: auto 120vh;
    /* color: #000000; */
  }
}
@media (min-width: 1024px) {
  .intro {
    padding: 0 110px;
    background-position: 100% 50%;
  }
}
