.send-review {
  margin-top: 50px;
  padding: 0 20px;
  @media (min-width: $tablet-width) {
    padding: 0 70px;
  }
}

.send-review__intro {
  margin: 0 auto;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  @media (min-width: $desktop-width) {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 20px;
  }
}
.send-review__form {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  max-width: 570px;
  font-size: 14px;
  line-height: 20px;
  @media (min-width: $tablet-width) {
    flex-direction: row;
    max-width: none;
  }
  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 28px;
  }
}
.send-review__label {
  display: block;
  margin: 5px 0;
  &--textarea {
    min-width: 100%;
  }
}
.send-review__input,
.send-review__textarea {
  box-sizing: border-box;
  min-width: 100%;
  @media (min-width: $desktop-width) {
    padding: 10px;
  }
}
.send-review__input {
  @media (min-width: $tablet-width) {
    min-width: 40vw;
  }
  @media (min-width: $desktop-width) {
    min-width: 22vw;
  }
}
.send-review__textarea {
  min-width: 100%;
}

.send-review__button {
  display: block;
  margin: 0 auto;
  padding-top: 8px;
  padding-bottom: 9px;
  width: 280px;
  border: none;
  background-color: $sylver;
  color: $basic_white;
  box-sizing: border-box;
  cursor: pointer;
  &:hover {
    font-weight: bold;
  }
  &:active {
    opacity: 0.7;
  }
  @media (min-width: $desktop-width) {
    font-size: 24px;
    line-height: 36px;
  }
}
