.send-review__intro {
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 80%;
  font-size: 34px;
  line-height: 1.2;
  text-align: center;

  @media (min-width: 1024px) {
    max-width: 90%;
    font-size: 46px;
    line-height: 1.2;
    margin-bottom: 20px;
  }
}
