.send-review__form,
.send-review__form > div > form > p {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  max-width: 570px;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    max-width: none;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 28px;
  }
}
