.telephone__link {
  font-family: "Comforter", "Arial", sans-serif;
  text-decoration: none;
  color: $white;
  font-size: 20px;

  @media (min-width: $tablet-width) {
    font-size: 26px;
    line-height: 1.2;
  }

  &:active {
    color: $hover-grey;
  }
}
