.telephone__link {
  font-family: "Swanky", "Arial", sans-serif;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}
.telephone__link:active {
  color: #97a1b5;
}

@media (min-width: 768px) {
  .telephone__link {
    font-size: 26px;
    line-height: 1.2;
  }
}
