.photogallery__link {
  text-align: center;
  text-decoration: none;
  background-color: #2e3033;
  color: $white;
  font-weight: bold;
  font-family: "Comforter", "Arial", sans-serif;
  letter-spacing: 5px;
  z-index: 3;
  box-sizing: border-box;

  &:hover .photogallery__title,
  &:hover .photogallery__cover-wrapper::after,
  &:focus .photogallery__title,
  &:focus .photogallery__cover-wrapper::after {
    @media (min-width: 1024px) {
      opacity: 1;
      transition: opacity 0.5s linear;
    }
  }

  &:hover > .photogallery__cover-wrapper > .photogallery__cover,
  &:focus > .photogallery__cover-wrapper > .photogallery__cover {
    @media (min-width: 1024px) {
      animation: photo_hover 0.5s ease forwards;
    }
  }

  &:active > .photogallery__title,
  &:active > .photogallery__cover-wrapper::after {
    @media (min-width: 1024px) {
      opacity: 0.3;
    }
  }
}
