.photogallery__link {
  text-align: center;
  text-decoration: none;
  background-color: #2e3033;
  color: $white;
  font-weight: bold;
  font-family: "Comforter", "Arial", sans-serif;
  letter-spacing: 5px;
  z-index: 3;
  box-sizing: border-box;
}

@media (min-width: 1024px) {
  .photogallery__link:hover > .photogallery__title,
  .photogallery__link:hover > .photogallery__cover-wrapper::after,
  .photogallery__link:focus > .photogallery__title,
  .photogallery__link:focus > .photogallery__cover-wrapper::after {
    opacity: 1;
    transition: opacity 0.5s linear;
  }

  .photogallery__link:hover > .photogallery__cover-wrapper > .photogallery__cover,
  .photogallery__link:focus > .photogallery__cover-wrapper > .photogallery__cover {
    animation: photo_hover 1s ease forwards;
  }

  .photogallery__link:active > .photogallery__title,
  .photogallery__link:active > .photogallery__cover-wrapper::after {
    opacity: 0.3;
  }
}
