.modal__container {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  background-color: $dark-green;
  align-items: center;
  justify-content: space-around;

  @media (min-width: $tablet-width) {
    max-width: 400px;
    border-radius: 10px;
  }
}

