.modal__close {
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 25px;
  right: 0;
  content: "";
  border: none;
  background-color: transparent;
  z-index: 100;

  @media (min-width: $tablet-width) {
    top: 0;
    right: 0;
  }

  @media (min-width: 1024px) {
    width: 30px;
    height: 30px;
    right: 0;
  }

  &:hover {
    opacity: 0.7;
    cursor: pointer;
  }

  &:active {
    opacity: 0.3;
  }
}
