.main-nav {
  position: fixed;
  min-width: 100%;
  bottom: 0;
  top: auto;
  z-index: 10;
}
.main-nav:hover {
  opacity: 0.7;
  font-weight: bold;
}
@media (min-width: 768px) {
  .main-nav{
    min-width: 80%;
    position: static;
  }
}
@media (min-width: 1200px) {
  .main-nav {
    width: 80%;
  }
}
