.main-nav__link--active {
  opacity: 1;
  font-weight: bold;
  color: #000;
  fill: #000;
}
@media (min-width: 768px) {
  .main-nav__link--active {
    color: #fff;
    fill: #fff;
  }
  .main-nav__link--active::after {
    position: absolute;
    content: "";
    width: 80%;
    height: 2px;
    background-color: #fff;
    color: #fff;
    fill: #fff;
    top: auto;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
