.modal__close {
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 25px;
  right: 0;
  content: "";
  border: none;
  background-color: transparent;
  z-index: 100;
}
.modal__close:hover {
  opacity: 0.7;
  cursor: pointer;
}
.modal__close:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .modal__close {
    top: 0;
    right: 0;
  }
}
@media (min-width: 1024px) {
  .modal__close {
    width: 30px;
    height: 30px;
    right: 0;
  }
}
