@keyframes underline {
  0% {
    width: 0;
  }
  100% {
    width: 95%;
  }
}

@keyframes underline_nav {
  0% {
    width: 0;
  }
  100% {
    opacity: 0.7;
    width: 100%;
    transform: translateX(-50%);
  }
}

@keyframes hover_nav {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.6;
  }
}

@keyframes gray_filter {
  0% {
    filter: grayscale(1);
  }
  30% {
    filter: grayscale(0.8);
  }
  60% {
    filter: grayscale(0.5);
  }
  100% {
    filter: grayscale(0);
  }
}
