@keyframes underline {
  0% {
    width: 0;
  }
  100% {
    width: 95%;
  }
}

@keyframes underline_nav {
  0% {
    width: 0;
  }
  100% {
    opacity: 0.7;
    width: 100%;
    transform: translateX(-50%);
  }
}

@keyframes hover_nav {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.6;
  }
}

@keyframes photo_hover {
  from {
    filter: grayscale(1);
    transform: scale(1);
  }
  to {
    filter: grayscale(0);
    transform: scale(1.05);
  }
}

@keyframes fontColorChange {
  from {
    color: red;
  }
  to {
    color: orange;
  }
}
