.footer {
  padding: 0 20px;
  margin-top: 20px;
  position: relative;
}
.footer::before {
  position: absolute;
  content: "";
  width: 90%;
  height: 1px;
  background-color: #fff;
  top: 0;
  bottom: auto;
  right: 0;
  left: auto;
}
@media (min-width: 768px) {
  .footer {
    padding: 0 70px;

  }
  .footer::before {
    width: 70%;
    left: 70px;
    right: auto;
  }
}
@media (min-width: 1024px) {
  .footer {
    padding: 30px 110px;
    font-size: 26px;
    line-height: 40px;
  }
}
