.contacts__input {
  padding: 5px;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 32px;
    max-width: 100px;
  }

  @media (min-width: 1024px) {
    font-size: 36px;
    line-height: 42px;
    min-width: 300px;
  }

  @media (min-width: $desktop-width) {
    min-width: 500px;
  }
}
