.contacts__form-submit {
  @media (min-width: 768px) {
    margin: 0 auto;
    padding: 5px;
    font-size: 28px;
    line-height: 32px;
    width: 200px;
  }

  @media (min-width: 1024px) {
    font-size: 36px;
    line-height: 42px;
  }
}
