.contacts__field {
  margin: 0;
  padding: 0;
  border: none;
  display: flex;
  text-align: start;
  align-items: center;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}
