.contacts__form,
.contacts__form > div > form,
.contacts__form > div > form > p {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 32px;
  }

  @media (min-width: 1024px) {
    font-size: 20px;
    line-height: 32px;
  }
}
