.contacts__item {
  position: relative;
  padding: 10px 0;
  padding-left: 30px;
  width: 90%;

  @media (min-width: 1024px) {
    padding-left: 50px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    left: 0;
    background: url("../../../img/svg/photocamera.svg") no-repeat 50% 50%;
    background-size: contain;

    @media (min-width: 1024px) {
      width: 36px;
      height: 36px;
    }
  }
}
