.portfolio__image {
  display: block;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;

  @media (min-width: 639px) {
    height: 100%;
  }

  &--horizontal {
    @media (min-width: 639px) {
      grid-column: span 2;
    }
  }

  &:nth-child(10) {
    display: none;

    @media (min-width: 1321px) {
      display: block;
    }
  }
}
