.social__link {
  display: block;
  color: #fff;
  text-align: center;
  align-items: center;
}
.social__link:hover .social__icon {
  color: #97a1b5;
  transition: color 0.8s ease-in;
}
.social__link:active .social__icon {
  opacity: 0.3;
}
