.reviews-index__list {
  list-style: none;
  padding: 0 20px;
  font-size: 12px;
  line-height: 16px;
}
@media (min-width: 768px) {
  .reviews-index__list {
    margin: 0 auto;
    font-size: 16px;
    padding: 0 70px;
  }
}
@media (min-width: 1200px) {
  .reviews-index__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
