.reviews-index__send-review {
  margin: 0 auto;
  padding: 5px 0;
  display: block;
  text-decoration: none;
  max-width: 220px;
  font-size: 14px;
  text-align: center;
  border: 2px solid #fff;
  color: #fff;
  box-sizing: border-box;
}
.reviews-index__send-review:hover {
  font-weight: bold;
  border-radius: 10px;
  transition: border-radius 0.5s ease;
}
.reviews-index__send-review:active {
  border-color: #c0c0c0;
  color: #97a1b5;
}
@media (min-width: 1024px) {
  .reviews-index__send-review {
    padding: 15px 0;
    max-width: 360px;
    font-size: 24px;
  }
}
