.reviews-index__user-review {
  position: relative;
  font-size: 10px;
  margin-left: 45px;
  margin-top: 5px;
  min-height: 40px;
}
.reviews-index__user-review::before {
  content: "\201C";
  font-family: serif;
  position: absolute;
  top: 5px;
  left: -50px;
  color: #ffffff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #97a1b5;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  line-height: 42px;
}
.reviews-index__user-review::after {
  content: "";
  width: 2px;
  background: #97a1b5;
  position: absolute;
  left: -10px;
  top: 5px;
  bottom: 5px;
}
@media (min-width: 768px) {
  .reviews-index__user-review {
    font-size: 14px;
    line-height: 22px;
    margin-left: 60px;
  }
  .reviews-index__user-review::before {
    width: 40px;
    height: 40px;
    top: 2px;
    left: -60px;
    font-size: 40px;
    line-height: 50px;
  }
  .reviews-index__user-review::after {
    top: 5px;
    bottom: 0;
  }
}
@media (min-width: 1200px) {
  .reviews-index__user-review {
    font-size: 18px;
    line-height: 26px;
  }
  .reviews-index__user-review::before {
    width: 50px;
    height: 50px;
    top: 2px;
    left: -70px;
    font-size: 50px;
    line-height: 67px;
  }
}
