.reviews__more {
  display: block;
  margin: 0 auto;
  padding-top: 8px;
  padding-bottom: 9px;
  width: 280px;
  border: 2px solid #fff;
  background-color: #545454;
  color: #ffffff;
  box-sizing: border-box;
  cursor: pointer;
}
.reviews__more:hover, .reviews__more:focus {
  font-weight: bold;
  border-radius: 10px;
  background-color: #fff;
  color: #545454;
  transition: border-radius 0.5s ease;
  transition: background-color 0.3s ease;
}
.reviews__more:active {
  opacity: 0.7;
}
@media (min-width: 1200px) {
  .reviews__more {
    font-size: 24px;
    line-height: 36px;
  }
}
