.reviews__list {
  list-style: none;
  padding: 0 20px;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 425px) {
  .reviews__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media (min-width: 768px) {
  .reviews__list {
    padding: 0 70px;
    font-size: 16px;
    line-height: 20px;
  }
}
@media (min-width: 1200px) {
  .reviews__list {
    font-size: 24px;
    line-height: 32px;
  }
}
