.price-card__container {
  width          : 100%;
  min-height     : 100%;
  flex           : 1;
  display        : flex;
  flex-direction : column;
  justify-content: space-around;
  position       : relative;
}

.price-card__container::after {
  content   : "";
  position  : absolute;
  width     : 100%;
  height    : 100%;
  top       : 0;
  left      : 0;
  right     : auto;
  bottom    : auto;
  background: rgba(255, 255, 255, 0.4);
}
