.price-card__item {
  margin: 0;
  padding: 5px 0;
  font-size: 12px;
  line-height: 12px;
  width: 90%;
  position: relative;
}
.price-card__item::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  background: url("../../../img/photocamera.svg") no-repeat 50% 50%;
  background-size: contain;
}
@media (min-width: 768px) {
  .price-card__item {
    font-size: 14px;
    line-height: 18px;
  }
  .price-card__item::before {
    width: 20px;
    height: 20px;
    top: 8px;
  }
}
@media (min-width: 1024px) {
  .price-card__item {
    font-size: 22px;
    line-height: 32px;
  }
}
