.new-post {
  position: relative;
}
.new-post::after {
  position: absolute;
  content: "NEW";
  width: 50px;
  height: 20px;
  top: 5px;
  right: 20px;
  font-weight: bold;
  color: red;
  animation: fontColorChange 1s ease-in infinite;
  z-index: 10px;
}
